#app {
  text-align:center;
  background:orange;
  border-radius:5px;
  max-width:900px;
  padding:10px;
}

body{
  background:black;
  display:flex;
  justify-content:center;
}

h1{
font-family: 'Audiowide', cursive; 
border-bottom: 4px solid black;
padding-bottom: 10px;

}

button{
  margin-left: 30px;
}
span{
  height:0px;
  width:0px;
}
.dot{
  height:40px;
  width:40px;
  border-radius:50%;
  background-color: #ff0000;
  display:inline-block;
  border:1px solid black;;
}
